<div class="background-container">

</div>

<div class="grid-container">
    <a routerLink="/observation" target="_blank" class="grid-item">
        <button class="fancy blue large-button">
            <span class="top-key"></span>
            <span class="icontext">Observations</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </a>

    <a routerLink="/proposal" target="_blank" class="grid-item">
        <button class="fancy blue large-button">
            <span class="top-key"></span>
            <span class="icontext">Proposal Submission</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </a>
    
    <a routerLink="/pulsar" target="_blank" class="grid-item">
        <button class="fancy blue large-button">
            <span class="top-key"></span>
            <span class="icontext">Pulsar Observation</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </a>

    <a routerLink="/archive" target="_blank" class="grid-item">
        <button class="fancy blue large-button">
            <span class="top-key"></span>
            <span class="icontext">Archive</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </a>

    <a routerLink="/archive" target="_blank" class="grid-item">
        <button class="fancy blue large-button">
            <span class="top-key"></span>
            <span class="icontext">Calculators</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </a>
</div>

